@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* -- *1,1* HEADER DE LA PAGE HTML (LOGO + HEBERGEMENTS + ACTIVITES + SINSCRIRE) -- */
.Header {
  display: grid;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}
.Himg {
  grid-area: logo;
  padding: 0 2rem;
  height: 2.813rem;
}
.Hnav {
  display: flex;
  align-items: center;
  grid-area: navbar;
}
.Hanchor {
  padding: 2rem;
  font-weight: 500;
  text-align: center;
  transition-duration: 0.1s;
  border-top: 3px transparent solid;
  border-bottom: 3px transparent solid;
}
.Hanchor {
  color: #000000;
}
.Hanchor:hover {
  color: #0065FC;
}
.Hsub {
  display: flex;
  align-items: center;
  grid-area: button;
  padding: 2rem;
  color: #0065FC;
  font-weight: 600;
}
/* -- MEDIA QUERIES *1,1* HEADER DE LA PAGE HTML -- */
@media screen and (min-width: 601px) {
  .Header {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button";
  }
  .Hanchor {
    border-top: 3px solid #ffffff;
  }
  .Hanchor:hover {
    border-top: 3px solid #0065FC;
  }
}
@media screen and (max-width: 600px) {
  .Header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . button" "navbar navbar navbar";
  }
  .Himg {
    order: 0;
  }
  .Hsub {
    order: 1;
  }
  .Hnav {
    order: 2;
  }
  .Hanchor {
    border-top: none;
    border-bottom: 3px solid #F2F2F2;
    width: 50%;
  }
  .Hanchor {
    border-bottom-color: #0065FC;
  }
  .Hanchor:hover {
    border-bottom-color: #0065FC;
  }
}
/* -- FIN DU HEADER DE LA PAGE HTML -- */

