@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* -- *1,1* HEADER DE LA PAGE HTML (LOGO + HEBERGEMENTS + ACTIVITES + SINSCRIRE) -- */
.Header {
  display: grid;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}
.Himg {
  grid-area: logo;
  padding: 0 2rem;
  height: 2.813rem;
}
.Hnav {
  display: flex;
  align-items: center;
  grid-area: navbar;
}
.Hanchor {
  padding: 2rem;
  font-weight: 500;
  text-align: center;
  transition-duration: 0.1s;
  border-top: 3px transparent solid;
  border-bottom: 3px transparent solid;
}
.Hanchor {
  color: #000000;
}
.Hanchor:hover {
  color: #0065FC;
}
.Hsub {
  display: flex;
  align-items: center;
  grid-area: button;
  padding: 2rem;
  color: #0065FC;
  font-weight: 600;
}
/* -- MEDIA QUERIES *1,1* HEADER DE LA PAGE HTML -- */
@media screen and (min-width: 601px) {
  .Header {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button";
  }
  .Hanchor {
    border-top: 3px solid #ffffff;
  }
  .Hanchor:hover {
    border-top: 3px solid #0065FC;
  }
}
@media screen and (max-width: 600px) {
  .Header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . button" "navbar navbar navbar";
  }
  .Himg {
    order: 0;
  }
  .Hsub {
    order: 1;
  }
  .Hnav {
    order: 2;
  }
  .Hanchor {
    border-top: none;
    border-bottom: 3px solid #F2F2F2;
    width: 50%;
  }
  .Hanchor {
    border-bottom-color: #0065FC;
  }
  .Hanchor:hover {
    border-bottom-color: #0065FC;
  }
}
/* -- FIN DU HEADER DE LA PAGE HTML -- */

/* -- ***DEBUT DU MAIN DE LA PAGE HTML***-- */
.Main {
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

/* -- *1,2* a *1,5* DEBUT SECTION RECHERCHE DE LA PAGE HTML (H1 & PARA / BOUTON / FILTRES / PARA) -- */

/* -- *1,2* TITRE H1 & PARA (TROUVEZ VOTRE .... EN PLEIN ... )-- */
.Rh {
  margin-bottom: 0.5rem;
}
.Rpara {
  margin-top: 0;
}

/* -- MEDIA QUERIES *1,2* a *1,5* DEBUT DE LA SECTION RECHERCHE DE LA PAGE HTML -- */
@media screen and (max-width: 650px) {

  .Rsearch {
    display: none;
  }
  .Rfiltersh {
    width: 100%;
  }
  .Rfilter {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .Rform {
    display: flex;
    width: 100%;
  }
  .Rinput {
    flex: 1;
  }
  .Rdata {
    display: none;
  }
  .Ricon {
    display: block;
  }
}

@media screen and (min-width: 601px) {
  .Rsearch {
    display: block;
  }
  .Rsearchicon {
    display: none !important;
  }
}

/* -- <!-- *1,3* BOUTON DE RECHERCHE --> -- */
.Rform {
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
}
.Rspan {
  background-color: #F2F2F2;
  padding: 1rem 1.25rem;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
}
.Rspanicon {
  margin-left: 0.1rem;
}
.Rinput {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 1.5rem;
  box-sizing: border-box;
  width: 14rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
}
.Rinput::placeholder {
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  color: #070707;
}
.Rbutton {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.5rem;
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  cursor: pointer;
}

/* -- *1,4* LES 4 FILTRES (ECONOMIQUE + FAMILIAL + ROMATIQUE + ANIMAUX) -- */
.Rfilters {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.Rfiltersh {
  margin: 0 2rem 1rem 0;
  display: flex;
  align-items: center;
}

/* -- *1,4*1* a *1,4*4* LES 4 FILTRES (ECONOMIQUE + FAMILIAL + ROMATIQUE + ANIMAUX) -- */
.Rfilter {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid #d9d9d9;
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition-duration: 0.1s;
  font-weight: bold;
}
.Rfilter:last-child {
  margin-right: 0;
}
.Rfilter:hover {
  background-color: #ffffff;
  transform: scale(1.015);
}
.Rframe {
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}
.Rframeicon {
  color: blue;
}
.Rfiltersname {
  margin: 0 1rem;
}

/* --  *1,5* PARAGRAPHE SOUS LES FILTRES  -- */
.Rinfo {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 0;
}
.Rinfoicondiv {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.Rinfoicon {
  color: #0065FC;
}
.Rinfopara {
  margin: 0;
}
/* -- FIN SECTION RECHERCHE DE LA PAGE HTML (H1 & PARA / BOUTON / FILTRES / PARA) -->

/* <!-- DEBUT DU HEADER DE LA SECTION HEBERGEMENT --> */
.Lodgallheader {
  grid-column: 1/-1;
}
.Lodgallheaderh {
  margin: 0;
}
/* <!-- FIN DU HEADER DE LA SECTION HEBERGEMENT --> */

/* <!-- *2,1* a *2,2* DEBUT - SECTION HEBERGEMENTS A MARSEILLE --> */ 
.Lodg {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 6fr 3fr;
}
.Lodgall {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
}

/* <!-- FOND DES CARTES D'HEBERGEMENTS A MARSEILLE + ASIDE  --> */   
.Lodgall, .Lodgpop {
  background-color: #F2F2F2;
  border-radius: 1.5rem;
  padding: 2rem;
}

/* <!-- *2,1*1* a *2,1*6* LES 6 HEBERGEMENTS A MARSEILLE - --> */
.Lodgalllead {
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
}
.Lodgallfig {
  margin: 0;
}
.Lodgallimg {
  height: 7rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}
.Lodgallh {
  margin: 0.25rem 0.75rem 0 0.75rem;
}
.Lodgallpara {
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}
.Lodgallparam {
  font-weight: bold;
}
.Lodgallstars {
  margin: 0 0.75rem 0.25rem 0.75rem;
}
.Lodgallicons {
  color: #0065fc;
}
.Lodgalliconss {
  color: #d9d9d9;
}

/* <!-- *2,1*7* HEBERGEMENTS A MARSEILLE - AFFICHER PLUS --> */
.Lodgallplus {
  font-weight: bold;
}

/* <!-- *2,2* LES 3 HEBERGEMENTS POPULAIRES A MARSEILLE - ASIDE -  --> */
.Lodgpop {
  display: grid;
  row-gap: 2rem;
  align-items: start;
  grid-template-rows: auto repeat(3, 1fr);
}
.Lodgpoph {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

/* <!-- *2,2*1* a *2,2*3* DEBUT LES 3 HEBERGEMENTS POPULAIRES A MARSEILLE - ASIDE - --> */
.Lodgpopa {
  display: flex;
  align-items: stretch;
  height: 100%;
  overflow: auto;
}
.Lodgpopdiv {
  position: relative;
  min-height: 100%;
  width: 33%;
  min-width: 33%;
  max-width: 33%;
}
.Lodgpopimg {
  border-radius: 1rem 0 0 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Lodgpopn {
  display: flex;
  flex-direction: column;
}
.Lodgpopc {
  flex: 1;
}
.LodgpopLodgalllead {
  height: 8.75rem;
}

/* <!-- MEDIA QUERIES *2,1* a *2,2* HEBERGEMENTS A MARSEILLE --> */
@media (max-width: 1440px) {
  .Lodg {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .Lodgpop {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 10rem;
    column-gap: 2rem;
    grid-row-start: 1;
  }
  .Lodgpoph {
    grid-column: 1/-1;
  }
}
@media (max-width: 1000px) {
  .Lodgpop {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, 9rem);
  }
}
@media (min-width: 925px) {
  .Lodgall {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 925px) and (min-width: 650px) {
  .Lodgall {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .Lodgall {
    grid-template-columns: 1fr;
  }
}

/* -- *2,1* a *2,2* FIN - SECTION HEBERGEMENT A MARSEILLE -- */

/* -- *3,1* DEBUT - SECTION ACTIVITES A MARSEILLE -- */
.Activ {
  display: grid;
  column-gap: 2rem;
  margin: 4rem 0;
}
.Activh {
  grid-column: 1/-1;
}

/* -- *3,1*1* a *3,1*6* LES 6 ACTIVITES A MARSEILLE -- */
.Activpics {
  box-shadow: 0 0 20px #0000002e;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition-duration: 0.1s;
}
.Activframe {
  position: relative;
  flex: 1;
}
.Activimg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.Activimgh {
  margin: 1.2rem 1.5rem;
}

/* -- MEDIA QUERRIES *3,1*DEBUT - ACTIVITES A MARSEILLE -- */
@media (min-width: 1100px) {
  .Activ {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
  }
  .Activimg1 {
    grid-row: 2/7;
    grid-column: 1/2;
  }
  .Activimg2 {
    grid-column: 2/3;
    grid-row: 2/5;
  }
  .Activimg3 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .Activimg4 {
    grid-column: 3/4;
    grid-row: 2/7;
  }
  .Activimg5 {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .Activimg6 {
    grid-column: 4/5;
    grid-row: 4/7;
  }
}
@media (max-width: 1100px) {
  .Activ {
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 12rem 12rem;
  }
}
@media (max-width: 925px) {
  .Activ {
    row-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 12rem 12rem 12rem;
  }
}
@media (max-width: 650px) {
  .Activ {
    row-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
  }
  @media (max-width: 600px) {
    .Lodgallh {
      font-size: x-small;
    }
}
/* -- *3,1* FIN - SECTION ACTIVITE A MARSEILLE -- */

/* -- ***FIN DU MAIN DE LA PAGE HTML***  -- */

/* -- *4,1* DEBUT - SECTION FOOTER (A PROPOS, NOS HEBERGEMENT, ASSISTANCE)  -- */
.Footer {
  background-color: #F2F2F2;
  width: 100%;
}
.Footerframe {
  display: flex;
  max-width: 100%;
  width: 1440px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

/* --*4,1*1* a *4,1*3* LES 3 ELEMENTS DU FOOTER  -- */
.Footercol {
  width: 30%;
  padding: 2rem 2rem;
}
.Footeranchor {
  display: block;
  margin: 1rem 0;
}
.Footeranchor:hover {
  text-decoration: underline;
  color: #0065fc;
}

/* -- MEDIA QUERRIES *4,1*1* FOOTER -- */
@media (max-width: 750px) {
  .Footerframe {
    flex-direction: column;
    padding: 2rem;
  }
  .Footercol {
    width: 100%;
    padding: 0;
    margin: 1rem 0;
  }
  .Footercol:first-child {
    margin-top: 0;
  }
  .Footercol:last-child {
    margin-bottom: 0;
  }
  .Footercolh {
    margin: 0;
  }
  .Footercol:last-child {
    margin-bottom: 0;
  }
}
/* -- 4,1* FIN - SECTION FOOTER  DE LA PAGE HTML -- */
/* -- ***FIN DU BODY DE LA PAGE HTML*** -- */
/* -- THE END -- */